{# Event Vars #}
{% set eventStart = now|date_modify('-2 months')|atom %}
{% set events = craft.entries
    .section("events")
    .date('>= eventStart')
    .orderBy('date', 'startTime')
    .limit(3)
    .all()
%}

{% set eventEntries = events %}

{# News Vars #}
{% set news = craft.entries
    .section("news")
    .limit(3)
    .orderBy('postDate desc')
    .all()
%}

{% set newsEntries = news %}
	 
    <section class="entries-section flex justify-center 2xl:gap-32 gap-9 border-t">
		<div class="event-block 2xl:pb-20 pt-20 ">
			<h3 class="pb-10 text-white font-bold text-3xl uppercase ">Events</h3>
			{% for entry in eventEntries %}
				<div class="flex items-center mb-10 pr-16 pb-5 border-b last:border-0">
					<div class="h-[68px] w-[71px] py-2 mr-7 text-center bg-white rounded-xl">
						<p class="text-3xl text-primary font-bold">
							<span class="block text-base leading-5 font-normal">{{entry.date | date("M")}}</span>
							{{entry.date | date("j")}}</p>
					</div>
					<div>
						<p class="2xl:text-2xl text-white pb-2  text-lg font-medium font-bold">{{entry.title}}</p>
						<p class="2xl:text-lg text-white text-sm">{{entry.startTime  | date("g:i a ")}}
							-
							{{entry.endTime  | date("g:i a ")}}</p>
					</div>
				</div>
			{% endfor %}
		</div>
		<div class="entries-divider divider border-r"></div>
		<div class="news-block 2xl:pb-20 pt-20 ">
			<h3 class="pb-10 text-white font-bold text-3xl uppercase ">News</h3>
			{% for entry in newsEntries %}
				<div class="mb-10 pr-16 pb-5 border-b last:border-0	">
					<p class="2xl:text-2xl text-white pb-2 text-lg font-medium font-bold">{{entry.title}}</p>
					<p class="2xl:text-lg text-white text-sm">{{entry.postDate | date("F d, Y")}}</p>
				</div>
			{% endfor %}
		</div>
	</section>