{# Workshop Vars #}
{% set workshopCat = workshopCat ?? '' %}
{% set workshopQuery = craft.entries
    .section("workshops")
    .limit(8)
    .relatedTo(workshopCat)
    .all()
%}

{% set workShopH2 = entry.workshopSectionTitle %}

{% set workSubH2 = entry.workshopSectionSubTitle %}

{% set workshopOptions = craft.categories()
    .group('workshopOptions')
    .all()
%}

<section class="workshop-section max-w-screen-xl m-auto pb-24 px-10">
	<h2 class="pt-20 2xl:text-3xl text-2xl text-white font-bold uppercase">{{workShopH2}}<span class="block pt-2 text-sm font-normal normal-case">{{workSubH2}}</span>
	</h2>

	<div class="workshopfilter flex justify-between py-5 px-10 mt-8 bg-secondary">
		{% for cat in workshopOptions %}
			{% set catIcon = cat.workshopIcon.collect().first().url() %}
			{% set catIconAlt = cat.workshopIcon.collect().first().altTag %}

			<div class="flex items-center gap-2 ">
				<input class="h-[20px] w-[20px]" type="checkbox">
				<button class="flex items-center">
					<img class="w-[32px]" src="{{catIcon}}" alt="{{catIconAlt}}">
					<p class="text-white text-xl font-bold uppercase">
						{{cat.title}}</p>
				</button>
			</div>
		{% endfor %}
	</div>

	<div class="workshop-cards flex justify-center flex-wrap gap-10 mt-10">
		{% for card in workshopQuery %}
			{% set categoryData = [] %}
			{% set categories = card.workshopCat %}
			{% set catIcon = card.workshopIcon.collect().first().url()  %}
			{% set iconQuery = card.workshopIcon %}

			{% for category in categories %}
				{% set categoryData = categoryData|merge([category]) %}
			{% endfor %}

			<div class="workshop-card flex flex-col h-[224px] w-[22%] p-4 workshop-graident rounded-xl" data-categories="{{categoryData|join(', ')|upper}}">
				<div class="h-full flex flex-col justify-center items-center">
					<h3 class="text-white">{{card.title}}</h3>
				</div>
				<div class="workshop-icon flex gap-2 justify-end">
					{% for icon in iconQuery %}
						<img class="h-[32px] w-[32px]" src="{{ icon.getURL() }}">
					{% endfor %}
				</div>
			</div>
		{% endfor %}
	</div>
</section>
