{% extends "_layout/main.twig" %}

{# Hero Vars #}
{% set heroH1 = entry.heroHeadlineH1 %}
{% set heroSubhead = entry.heroSubhead %}
{% set heroBackground = entry.heroBackgroundImage.all() %}

{# Workshop Vars #}
{% set workshopCat = workshopCat ?? '' %}
{% set workshopQuery = craft.entries
    .section("workshops")
    .limit(8)
    .relatedTo(workshopCat)
    .all()
%}

{% set workshopOptions = craft.categories()
    .group('workshopOptions')
    .all()
%}

{# Event Vars #}
{% set eventStart = now|date_modify('-2 months')|atom %}
{% set events = craft.entries
    .section("events")
    .date('>= eventStart')
    .orderBy('date', 'startTime')
    .limit(3)
    .all()
%}

{% set eventEntries = events %}

{# News Vars #}
{% set news = craft.entries
    .section("news")
    .limit(3)
    .orderBy('postDate desc')
    .all()
%}

{% set newsEntries = news %}

{% block main %}
	{% for heroImage in heroBackground %}
		<section style="background-image: url({{heroImage.url}});" class="flex justify-start h-screen bg-cover bg-no-repeat" id="hero">
			<div class="px-32 flex flex-col justify-center">
				<h1 class="2xl:text-9xl text-8xl text-white font-bold tracking-wider">{{ heroH1 }}</h1>
				<p class="text-xl text-secondary font-bold pt-10 tracking-widest">{{ heroSubhead }}</p>
			</div>
		</section>
	{% endfor %}

	<section class="flex justify-center">
		<div>
			{% for entry in eventEntries %}
				<div>
                    <p><span>{{entry.date | date("M")}}</span>{{entry.date | date("j")}}</p>
					<p>{{entry.title}}</p>
                    <p>{{entry.startTime  | date("g:i a ")}} - {{entry.endTime  | date("g:i a ")}}</p>
				</div>
			{% endfor %}
		</div>
		<div>
			{% for entry in newsEntries %}
				<p>{{entry.title}}</p>
				<p>{{entry.postDate | date("M d, Y")}}</p>
			{% endfor %}
		</div>
	</section>

{% endblock %}
